# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

### Output and Cache Directories ###
/External/
/Debug/
/Docs/
/Release/
/build/
/bin/
/out/
/cmake-build-*/
/.vscode/
/dependencies/

### CMake ###
CMakeCache.txt
CMakeFiles
CMakeScripts
Makefile
cmake_install.cmake
install_manifest.txt
build.sh

### Python ###
*.egg
*.egg-info
/dist/
/build/
/eggs/
/parts/
/bin/
/var/
/sdist/
/develop-eggs/
.installed.cfg
*.pyc
/venv/